body {
    margin: 0;
    font-family: "Philosopher", sans-serif;
    color: black;
    background-color: white;
    font-size: 22px;
    text-align: center;
  }
  
  a {
    color: black;
  }
  
  h2,
  h3,
  h4,
  p {
    margin: 0;
    padding: 10px;
  }
  
  header {
    display: flex;
    flex-direction: column;
    
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    margin: 0 10%;
    align-items: center;
  }
  nav img{
    max-width: 80px;
    height: auto;
    border-radius: 50%;
  }
  nav p {
    display: inline-block;
    padding: 10px 10px;
  }
  nav h3{
    color:#A40A13;
    font-weight: bold;
  }
  
  .main {
    padding-top: 35px;
    opacity: 0.9;
  }
  
  .mission {
    display: flex;
    height: 300px;
    background-image: url('../images/mission-banner.jpg');
    padding-top: 35px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 70;

  }
  
  .mission .content {
    margin: auto;
    background-color: white;
    width: 100%;
  }
  
  #catalogue {
    min-height: 500px;
    margin: auto;
    padding-top: 70px;
  }
  
  .styles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .style {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .style img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 10px;
    height: auto;
  }
  
  .style span {
    padding: 5px;
    min-width: 240px;
    font-weight: bold;
    text-align: center;
  }
  
  .team {
    background-image: url("../images/team-span.webp");
    padding-top: 70px;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .teammate {
    padding: 10px;
    color: white;
    flex-basis: 280px;
  }
  
  .teammate img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
    border-radius: 60%;
  }
  
  .contact,
  .copyright {
    padding-top: 20px;
  }
  